@import "../../styles/breakpoints";

.wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.avatarWrapper {
  @extend .wrapper;

  @include md {
    width: 40px;
    height: 40px;
  }
}

.avatarWrapperOpenQuestion {
  @extend .wrapper;
  @include md {
    width: 150px;
    height: 150px;
  }
}
