@import "../../styles/breakpoints";
@import "../../styles/colors";

.container {
  width: 100%;
  margin-top: 20px;
  padding: 10px 10px;
  border-left: 5px solid #f09c57;
  background: #ffffff;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);

  @include md {
    width: 100%;
  }
}

.commentContent {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.05em;
  color: #000000;

  @include md {
    font-size: 14px;
    line-height: 25px;
  }
}

.votesAndRepliesContainer {
  display: flex;
  justify-content: space-between;
  height: 23px;
  padding-top: 10px;
  border-top: 1px solid $grey;
}

.votesContainer {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.thumbupIconWrapper,
.thumbdownIconWrapper {
  width: 14px;
  height: 14px;
  margin-right: 2px;
  cursor: pointer;
}

.upvotes,
.downvotes {
  display: inline-block;
  margin-right: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: $dark-grey;
}
