@import "../../styles/colors";

.searchInput {
  display: flex;
  flex-direction: row;
  width: 97%;
  height: 40px;
  margin: 40px 2px 0px 2px;
  padding-left: 20px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  border-left: none;
  border-right: none;
  background: url("../../public/search-icon.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  outline-color: $orange;
}
