@import "../../styles/breakpoints";
@import "../../styles/colors";

.sidebarContainer {
  width: 30%;
  background: #ffffff;

  @include lg {
    width: 20%;
  }
}

.searchWrapper {
  width: 100%;
  background: #ffffff;

  @include lg {
    width: 310px;
    height: 41px;
  }
}

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 167px;
  margin-top: 100px;
}

.menuHeader {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-left: 10px;
  color: $dark-grey;

  @include xl {
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 5px;
  }
}

.questionsIconWrapper,
.tagsIconWrapper {
  width: 18px;
  height: 18px;
}

.questionsContainer,
.tagsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 41px;
  padding-left: 10px;
  transition: background-color 0.3s;

  @include xl {
    padding-left: 50px;
  }
}
.questions,
.tags {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  margin-left: 3px;
}

.itemSelectedContainer,
.questionsContainer:hover,
.tagsContainer:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 41px;
  padding-left: 10px;
  color: $orange;
  background-color: $peach;
  border-left: 4px solid $orange;
  cursor: pointer;

  @include xl {
    padding-left: 50px;
  }
}

.itemSelectedText {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  margin-left: 3px;
  color: $orange;
}
