@import "../../styles/breakpoints";
@import "../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 5px;
  gap: 10px;
  width: 100%;
  background: #ffffff;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);

  @include lg {
    padding: 30px 40px;
  }
}

.suggestionTextfield {
  width: 100%;
  border: 2px solid $grey;
  border-radius: 5px;
  outline-color: $orange;

  @include md {
    height: 100px;
  }
  @include lg {
    height: 60px;
  }
}

.suggestionTextfield::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 9px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: $dark-grey;

  @include md {
    font-size: 12px;
    line-height: 14px;
  }
}

.suggestButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 4px;
  margin-top: 10px;
  width: 70px;
  height: 20px;
  background: $orange;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  @include md {
    width: 112px;
    height: 30px;
    padding: 12px 20px;
    margin-top: 30px;
  }
}

.suggestIconWrapper {
  width: 13px;
  height: 13px;
}
.suggest {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 9px;
  line-height: 9px;
  color: #ffffff;

  @include md {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
}
